@import './base.css';

#index {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  color: var(--color-text-soft);
  text-decoration: none;
  transition: 0.4s;
}

.btn {
  border-radius: 0;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-hover);
  }
}

.title {
  font-family: 'Montserrat';
    font-weight: 900;
    font-size: 4.3rem;
    color: var(--color-background);
    text-shadow: 2px 2px 0 var(--color-text-soft), 
      2px -2px 0 var(--color-text-soft), 
      -2px 2px 0 var(--color-text-soft), 
      -2px -2px 0 var(--color-text-soft), 
      2px 0px 0 var(--color-text-soft), 
      0px 2px 0 var(--color-text-soft), 
      -2px 0px 0 var(--color-text-soft), 
      0px -2px 0 var(--color-text-soft);
}
/* 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
